@import "portal";
//CIRCLE
@import "circle";

// existing styles
html,body{
  font-family: 'Montserrat',sans-serif;
}
#portfolio{
  padding-bottom:15vh;
  @media(max-width: 565px){
    padding-bottom:0px;
  }
}
.skill_title{
  @media(max-width: 565px){
    display: none;
  }
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.title-bar{
  height: 100vh;
  @media(max-width:668px){
    opacity:0;
  }
}
.lead.col-sm-12{
  margin-top:35vh;
  @media(max-width:565px){
    margin-top:15vh;
  }
}
.title-bkg{
  @media(max-width: 668px){
    background-image:url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/c_scale,w_600/v1508174464/IMG_8200_pcg9nh.jpg");
    // background-attachment: fixed;
    background-size:cover;
    background-position: -55vw 0vh;
    background-repeat: no-repeat;
  }
}
.title-bar2{
  height:100vh;
  display: none;
  // background-image:url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/c_scale,w_800/v1507588997/Josh_eclipse_olovsk.jpg");
  // background-attachment: fixed;
  // background-size:cover;
  // background-position: 80% 30%;
  // background-repeat: no-repeat;
  @media(min-width: 668px){
    display: none;
  }
}
.portfolio-image{
  position:absolute;
  overflow: hidden;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
  transition:transform .5s;
  transition-property:background-image;
  border-radius: 8px;
}
.portfolio-image-wrapper{
  position:relative;
  width:40%;
  margin:auto;
  @media(max-width:560px){
    width:90%;
  }
}
.portfolio-image-opacity{
  height:0%;
  width: 100% !important;
  background-color:black;
  z-index: 20;
  opacity: .5;
  position:absolute;
  border-radius: 8px;
  transition-property:height;
  -webkit-transition-property:height;
  -moz-transition-property:height;
  transition:all .55s;
  -webkit-transition:all .55s;
  -moz-transition:all .55s;
}
.portfolio-opacity-animated{
  height:100%;
}
.visit_site{
  color:white;
  opacity: 0;
  text-align: center;
  font-family: 'Ubuntu',sans-serif;
  font-size: 1.2em;
  margin:auto;
  position: absolute;
  bottom:45%;
  left:43%;
  z-index: 500000;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition:all .35s;
  -webkit-transition:all .35s;
  -moz-transition:all .35s;
}
.visible{
  opacity: 1;
}
.image-ratio{
  padding-bottom:65%;
}
// .circle_row::after{
//   height:20vh;
//   position: absolute;
//   // background-color:#fff;
//   width:100vw;
// }

body{
  // background-color: #9695a2;
  // background-color: #dae4dc;
  background-color: lightgrey;
  // color:white;
}
.center{
  text-align: center;
}
.main_name{
  font-size:2.5em;
}
.main_name_subtitle{
  font-size:1.5em;
}

.navbar{
    height:110px;
    padding-top:25px;
    margin-bottom:0px;
    @media(max-width: 565px){
      height:85px;
      padding-top:15px;
    }
}
.navbar-nav>li>a{
  font-size:1.5em !important;
  text-align: right;
}
.navbar-brand{
    color:white;
    font-size: 40px;
}

.navbar-default{
  background-color: #222;
}
.navbar-nav{
  // width:50vw;
  // float:right;
}

.title-bar{
    // background-image:url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/v1476122287/IMG_6375-compressed_eruuiy.jpg");
    // background-image:url("./photos/IMG_7975.JPG");
    // background-image:url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/a_auto_right/v1490335359/IMG_9417_mzqos1.jpg");
    // background-attachment: fixed;
    // background-size:cover;
    // background-position: 25vh 25vw;
    // background-repeat: no-repeat;
}
.parallax {
  // height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media(max-width: 765px){
    // background-position:top 70% 70%;
  }
}
.title-text a{
  text-decoration: none;
  color:white;
}
.title-opacity{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background-color:black;
  opacity:.3;
  z-index: 1;
  height:100vh;
}
.title-text{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
  padding:30px;
  position:absolute;
  width:100%;
  top:0px;
  z-index: 2;
  @media(max-width:565px){
    top:135px;
    padding:15px;
    // z-index: 90000000;
  }
}

.title-text .col-sm-12{
    text-align: center;
    color: white;
}
.lead.col-sm-12 span{
  color:#ffc0c0;
}

.title-text img{
    transform: rotate(180deg);
}

.portfolio{
    // background-color:lightgrey;
    margin-bottom: 0px;
}
// .portfolio-entry{
//   &:hover{
//     background-color:gray;
//   }
// }

.portfolio-entry a{
    text-decoration: none;
    color:#333;
    // width:auto;
}
.portfolio-entry{
  text-align: center;
}


.portfolio-text{
  margin:0em 3em;
  font-size:1em;
  min-height:15vh;
}
.portfolio-title{
  margin:10px 0px;
  font-size:1.35em;
}

.fa-cogs{
    margin:2em 0em;
}

.portfolio_name, .portfolio_contact{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:2em;
}
.intro_bar{
  background-image:url("http://orig11.deviantart.net/5848/f/2011/055/e/e/cllouds_and_clouds_2_by_kalosys_stock-d3ac6gz.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  // top:495px;
  height:40vh;
  width:100vw;
  z-index: -100000;
  background-color:lightgrey;
  text-align: center;
}
.contact_me{
  width:10em;
  height:5em;
  border:1px solid #000;
  padding:1.5em;
  display:inline-block;
  margin-top:3.5em;
  border-radius:50px;
  cursor: pointer !important;
}
.links,.contact,{
    // border-bottom: 3px solid darkgrey;
    margin-bottom:15px;
}
.contact_bottom{
  text-align: center;
  background-color:#222222;
  padding:5em 0em;
}
.links{
  // border-top: 5px solid #d28628;
  // margin-top:30vh;
}

.link{
    text-align: center;
    padding:0px 20px 20px 20px;
}

.contact .lead{
    padding:0px 35px 20px 35px;
}

#contact{
  padding-top:50px;
}

.link-title{
    text-decoration: none;
    color:gray;
    font-size: .75em;
    padding-bottom:.5em;
}

/*--Footer Styles---*/

.nav-footer{
    height:75px;
    background-color: rgb(34,34,34);
    color:#9d9d9d;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:0px;
    width:100vw;
}
.nav-footer ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 16px;
}
.nav-footer a, .nav-footer li{
    text-decoration: none;
    color: inherit;
    transition:color .4s;
}
.nav-footer li:hover{
    color:white;
}

@media (min-width: 568px) {
    .title-text .col-sm-8, .title-text .col-sm-8 div{
      text-align: right;
    }
    .title-text .col-xs-8{
      font-size: 2em;
    }
}

@media (min-width: 768px) {
  .portfolio-text{
    margin:0em 3.5em;
    font-size: 1em;
  }
}

/* Heliowire styles */
.glyphicon{
    color:orange;
}

.mainlogo{
    size:150%;
}
.maintitle{
    display:block;
}

//Fibonacci study
$square_size:250px;
.fib_curve{
  border-radius: 100% 0% 0% 0%;
  background-color:#9a7474;
  // background-color: #fff;
  border:1px solid #000;
}
.fib_holder{
  // margin:150px 100px;
  text-align: center;
}
.fib_rectangle{
  border-top:1px solid #000;
  border-left:1px solid #000;
  position: relative;
  background-color:gray;
}
.fib_90deg_holder{
  position: absolute;
  right:0px;
  top:0px;
}
.fib_90deg{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  position: relative;
}
.rotator{
  // transition:easeOutBounce 2s;
}
.inner_fib_holder{
  position:absolute;
}
.square{
  height:100%;
  width:100%;
  // border:1px solid #000;
}
.square-wrapper{
  position: relative;
}
.work_with{
  color:#fff;
  border:1px solid tomato;
  padding:1.5em;
  border-radius:90px;
  width:250px;
  display: inline-block;
  font-size: .75em;
  cursor: pointer;
  margin-top:1.5em;
  z-index: 60 !important;
  &:hover{
    color:#000;
    background-color:tomato;
    width:285px;
  }
  transition: width .5s ease-out, color .5s ease-out, background-color .5s ease-out;
  transition-property: color,width,background-color;
}
.work_clicked{
  background-color:#000;
  width:45px;
  border:1px solid #fff;
  padding:2.5em;
  &:hover{
    background-color:#000;
    width:45px;
    border:1px solid #fff;
    transition: width 750ms ease-out, transform 3s ease-out;
  }
}
.work_expand{
  transform:scale(100);
  // transition: transform 1.5s ease-out;
}
.top_form{
  position: fixed;
  top:0px;
  width:100vw;
  height:100vh;
  text-align: center;
  z-index: 5;
  background-color: black;
  .form{
    margin-top:15vh;
    width:60vw;
    display:inline-block;
    textarea{
      height:25vh;
    }
    input,textarea{
      background-color: #6f5b5b;
      color:black;
    }
    h1{
      color:white;
      margin-bottom:1em;
    }
    h4{
      color:lightgrey;
      margin-bottom:1.5em;
    }
  }
  .top_form_close{
    font-family: 'Helvetica',sans-serif;
    position:absolute;
    top:1em;
    right:2em;
    cursor:pointer;
    font-size:3.5em;
    color:gray;
    transition: color .35s ease-in;
    &:hover{
      color:#fff;
    }
  }
}
.learn_more{
  font-family: 'Helvetica',sans-serif;
  font-size: 1.25em;
  text-transform: none;
  position: absolute;
  bottom:55px;
  width: 100vw;
  text-align: center;
  z-index: 2;
  a{
    color:lightgray;
    text-decoration: none;
    &:hover{
      color:white;
      transition: .35s ease-in;
    }
  }
}
.divider1_wrapper{
  height:5vh;
  width:100%;
  overflow: hidden;
  margin-bottom:3em;
}
.divider_1{
  height:5vh;
  width:100%;
  background-position: center;
  background-size: cover;
}
