.port_photo {
  border-radius: 100%;
  position: relative;
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  overflow: hidden !important;
  background-color: transparent;
  border: 1px solid gray;
  cursor: pointer;
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.port_photo_inner {
  overflow: hidden !important;
  margin: auto;
}

.port_photo div {
  position: absolute;
  width: 0px !important;
  height: 0px !important;
  -moz-transition: -moz-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  opacity: .5;
  clip-path: circle(45px at 22.5px 22.5px);
}

.port_lens1, .port_lens2 {
  top: 0px;
}

.port_lens3, .port_lens4 {
  bottom: 0px;
}

.port_lens1 {
  border-top: 45px solid grey;
  border-right: 45px solid transparent;
}

.port_lens2 {
  border-top: 45px solid olive;
  border-left: 45px solid transparent;
}

.port_lens3 {
  border-bottom: 45px solid tomato;
  border-left: 45px solid transparent;
}

.port_lens4 {
  border-bottom: 45px solid #7a7ef9;
  border-right: 45px solid transparent;
}

.port_bigger {
  -moz-transform: scale(1.75);
  -webkit-transform: scale(1.75);
  transform: scale(1.75);
}

.port_raised {
  -moz-transform: translateY(-22.5px);
  -webkit-transform: translateY(-22.5px);
  transform: translateY(-22.5px);
  color: #fff !important;
}

.port_circle_float {
  position: absolute;
  top: -90px;
  z-index: 50;
}

.port_circle_row {
  position: relative;
}

.port_covered {
  font-size: .5em;
}

.port_circle_logo {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-position: center;
}

.port_brand_title {
  -moz-transition: -moz-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  color: transparent;
  transition-property: color;
}

.port_circle_holder {
  display: flex;
}

.port_skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.port_skills_title {
  text-align: center;
}

.port_skills:hover {
  width: 100%;
  overflow: visible;
}

.port_brand_logo {
  width: 45px;
  height: 45px;
  padding: 8.18182px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.portals {
  padding: 15px 0px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  width: 25vw;
  margin: auto;
}

@media (max-width: 765px) {
  .portals {
    justify-content: space-around;
    width: 35vw;
  }
}

@media (max-width: 565px) {
  .portals {
    justify-content: space-around;
    width: 75vw;
  }
}

.photo, .photo2 {
  border-radius: 100%;
  position: relative;
  width: 2em;
  height: 2em;
  display: none;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  overflow: hidden !important;
  background: -webkit-linear-gradient(bottom, #fbfafa 0%, #f9ba3c 100%);
  background: -moz-linear-gradient(bottom, #fbfafa 0%, #f9ba3c 100%);
  background: -linear-gradient(bottom, #fbfafa 0%, #f9ba3c 100%);
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-transition: -webkit-transform 1s;
  transition: all 1s;
}

.showing {
  display: block;
  transition: all 1s;
}

.photo_inner {
  margin: auto;
}

.photo div, .photo2 div {
  position: absolute;
  width: 0px !important;
  height: 0px !important;
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  opacity: .5;
  clip-path: circle(2em at 1em 1em);
}

.lens1, .lens2 {
  top: 0px;
}

.lens3, .lens4 {
  bottom: 0px;
}

@media (max-width: 568px) {
  .lens1, .lens2, .lens3, .lens4 {
    display: none;
  }
}

.lens1 {
  border-top: 2em solid grey;
  border-right: 2em solid transparent;
}

.lens2 {
  border-top: 2em solid olive;
  border-left: 2em solid transparent;
}

.lens3 {
  border-bottom: 2em solid tomato;
  border-left: 2em solid transparent;
}

.lens4 {
  border-bottom: 2em solid #7a7ef9;
  border-right: 2em solid transparent;
}

.bigger {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.raised {
  color: #fff !important;
}

.right {
  -moz-transform: rotate(90deg) scale(3) translateX(2em);
  -webkit-transform: rotate(90deg) scale(3) translateX(2em);
  transform: rotate(90deg) scale(3) translateX(2em);
}

.left {
  -moz-transform: rotate(90deg) scale(3) translateX(-2em);
  -webkit-transform: rotate(90deg) scale(3) translateX(-2em);
  transform: rotate(90deg) scale(3) translateX(-2em);
}

.circle_float {
  position: absolute;
  z-index: 1;
}

@media (max-width: 565px) {
  .circle_float {
    top: -10em;
    margin-top: -450px !important;
  }
}

@media (max-width: 565px) {
  .circle {
    width: 25%;
    display: none;
  }
}

.circle_row {
  position: relative;
}

.covered {
  font-size: .5em;
}

.circle_logo {
  width: 2em;
  height: 2em;
  background-size: contain;
  background-position: center;
}

.brand_title {
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  color: transparent;
  padding-bottom: 1em;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
}

.circle_holder {
  display: flex;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media (max-width: 565px) {
  .skills {
    flex-wrap: wrap;
  }
}

.skills_title {
  text-align: center;
}

.skills:hover {
  width: 100%;
  overflow: visible;
}

.brand_logo {
  width: 2em;
  height: 2em;
  padding: 0.36364em;
  position: absolute;
  top: 0px;
  left: 0px;
}

html, body {
  font-family: 'Montserrat',sans-serif;
}

main {
  background: -webkit-linear-gradient(top, #494b73 0%, #f1bd5e 100%);
  background: -moz-linear-gradient(top, #494b73 0%, #f1bd5e 100%);
  background: -linear-gradient(top, #494b73 0%, #f1bd5e 100%);
}

#portfolio {
  padding-bottom: 15vh;
}

@media (max-width: 565px) {
  #portfolio {
    padding-bottom: 0px;
  }
}

@media (max-width: 565px) {
  .skill_title {
    display: none;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title-bar {
  height: 100vh;
}

@media (max-width: 768px) {
  .title-bar {
    opacity: 0;
  }
}

.lead.col-sm-12 {
  margin-top: 18vh;
}

@media (max-width: 565px) {
  .lead.col-sm-12 {
    margin-top: 5vh;
  }
}

@media (max-width: 768px) {
  .title-bkg {
    background-image: url("http://res.cloudinary.com/middle-renaissance-realty-llc/image/upload/c_scale,w_600/v1508174464/IMG_8200_pcg9nh.jpg");
    background-size: cover;
    background-position: -15vw 0vh;
    background-repeat: no-repeat;
  }
}

.title-bar2 {
  height: 100vh;
  display: none;
}

@media (min-width: 668px) {
  .title-bar2 {
    display: none;
  }
}

.portfolio-image {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: transform .5s;
  transition-property: background-image;
  border-radius: 8px;
}

.portfolio-image-wrapper {
  position: relative;
  width: 40%;
  margin: auto;
}

@media (max-width: 560px) {
  .portfolio-image-wrapper {
    width: 90%;
  }
}

.portfolio-image-opacity {
  height: 0%;
  width: 100% !important;
  background-color: black;
  z-index: 20;
  opacity: .5;
  position: absolute;
  border-radius: 8px;
  transition-property: height;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  transition: all .55s;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
}

.portfolio-opacity-animated {
  height: 100%;
}

.visit_site {
  color: white;
  opacity: 0;
  text-align: center;
  font-family: 'Ubuntu',sans-serif;
  font-size: 1.2em;
  margin: auto;
  position: absolute;
  bottom: 45%;
  left: 43%;
  z-index: 500000;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}

.visible {
  opacity: 1;
}

.image-ratio {
  padding-bottom: 65%;
}

body {
  background-color: lightgrey;
}

.center {
  text-align: center;
}

.main_name {
  font-size: 2.5em;
}

.main_name_subtitle {
  font-size: 1.5em;
}

.navbar {
  height: 110px;
  padding-top: 25px;
  margin-bottom: 0px;
}

@media (max-width: 565px) {
  .navbar {
    height: 85px;
    padding-top: 15px;
  }
}

.navbar-nav > li > a {
  font-size: 1.5em !important;
  text-align: right;
}

.navbar-brand {
  color: white;
  font-size: 40px;
}

.navbar-default {
  background-color: #222;
}

.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text a {
  text-decoration: none;
  color: white;
}

.title-opacity {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .3;
  z-index: 1;
  height: 100vh;
}

.title-text {
  font-family: 'Montserrat',sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
  padding: 30px;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 2;
}

@media (max-width: 565px) {
  .title-text {
    top: 135px;
    padding: 15px;
  }
}

.title-text .col-sm-12 {
  text-align: center;
  color: white;
}

.lead.col-sm-12 span {
  color: #ffc0c0;
}

.title-text img {
  width: 12vw;
}

.portfolio {
  margin-bottom: 0px;
}

.portfolio-entry a {
  text-decoration: none;
  color: #333;
}

.portfolio-entry {
  text-align: center;
}

.portfolio-text {
  margin: 0em 3em;
  font-size: 1em;
  min-height: 15vh;
}

.portfolio-title {
  margin: 10px 0px;
  font-size: 1.35em;
}

.fa-cogs {
  margin: 2em 0em;
}

.portfolio_name, .portfolio_contact {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2em;
}

.intro_bar {
  background-image: url("http://orig11.deviantart.net/5848/f/2011/055/e/e/cllouds_and_clouds_2_by_kalosys_stock-d3ac6gz.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 40vh;
  width: 100vw;
  z-index: -100000;
  background-color: lightgrey;
  text-align: center;
}

.contact_me {
  width: 10em;
  height: 5em;
  border: 1px solid #000;
  padding: 1.5em;
  display: inline-block;
  margin-top: 3.5em;
  border-radius: 50px;
  cursor: pointer !important;
}

.links, .contact {
  margin-bottom: 15px;
}

.contact_bottom {
  text-align: center;
  background-color: #222222;
  padding: 5em 0em;
}

.link {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

.contact .lead {
  padding: 0px 35px 20px 35px;
}

#contact {
  padding-top: 50px;
}

.link-title {
  text-decoration: none;
  color: gray;
  font-size: .75em;
  padding-bottom: .5em;
}

/*--Footer Styles---*/
.nav-footer {
  height: 75px;
  background-color: #222222;
  color: #9d9d9d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0px;
  width: 100vw;
}

.nav-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-size: 16px;
}

.nav-footer a, .nav-footer li {
  text-decoration: none;
  color: inherit;
  transition: color .4s;
}

.nav-footer li:hover {
  color: white;
}

@media (min-width: 568px) {
  .title-text .col-sm-8, .title-text .col-sm-8 div {
    text-align: right;
  }
  .title-text .col-xs-8 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .portfolio-text {
    margin: 0em 3.5em;
    font-size: 1em;
  }
}

/* Heliowire styles */
.glyphicon {
  color: orange;
}

.mainlogo {
  size: 150%;
}

.maintitle {
  display: block;
}

.fib_curve {
  border-radius: 100% 0% 0% 0%;
  background-color: #9a7474;
  border: 1px solid #000;
}

.fib_holder {
  text-align: center;
}

.fib_rectangle {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
  background-color: gray;
}

.fib_90deg_holder {
  position: absolute;
  right: 0px;
  top: 0px;
}

.fib_90deg {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
}

.inner_fib_holder {
  position: absolute;
}

.square {
  height: 100%;
  width: 100%;
}

.square-wrapper {
  position: relative;
}

.work_with {
  color: #fff;
  border: 1px solid tomato;
  padding: 1.5em;
  border-radius: 90px;
  width: 250px;
  display: inline-block;
  font-size: .75em;
  cursor: pointer;
  margin-top: 1.5em;
  z-index: 60 !important;
  transition: width .5s ease-out, color .5s ease-out, background-color .5s ease-out;
  transition-property: color,width,background-color;
}

.work_with:hover {
  color: #000;
  background-color: tomato;
  width: 285px;
}

.work_clicked {
  background-color: #000;
  width: 45px;
  border: 1px solid #fff;
  padding: 2.5em;
}

.work_clicked:hover {
  background-color: #000;
  width: 45px;
  border: 1px solid #fff;
  transition: width 750ms ease-out, transform 3s ease-out;
}

.work_expand {
  transform: scale(100);
}

.top_form {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 5;
  background-color: black;
}

.top_form .form {
  margin-top: 15vh;
  width: 60vw;
  display: inline-block;
}

.top_form .form textarea {
  height: 25vh;
}

.top_form .form input, .top_form .form textarea {
  background-color: #dad9dc;
  color: black;
}

.top_form .form h1 {
  color: white;
  margin-bottom: 1em;
}

.top_form .form h4 {
  color: lightgrey;
  margin-bottom: 1.5em;
}

@media (max-width: 565px) {
  .top_form .form {
    width: 90vw;
    margin-top: 5vh;
  }
}

.top_form .top_form_close {
  font-family: 'Helvetica',sans-serif;
  position: absolute;
  top: 1em;
  right: 2em;
  cursor: pointer;
  font-size: 3.5em;
  color: gray;
  transition: color .35s ease-in;
}

.top_form .top_form_close:hover {
  color: #fff;
}

@media (max-width: 565px) {
  .top_form .top_form_close {
    top: 0em;
    right: .25em;
  }
}

.learn_more {
  font-family: 'Helvetica',sans-serif;
  font-size: 1.25em;
  text-transform: none;
  position: absolute;
  bottom: 55px;
  width: 100vw;
  text-align: center;
  z-index: 2;
}

.learn_more a {
  color: lightgray;
  text-decoration: none;
}

.learn_more a:hover {
  color: white;
  transition: .35s ease-in;
}

.divider1_wrapper {
  height: 5vh;
  width: 100%;
  overflow: hidden;
  margin-bottom: 3em;
}

.divider_1 {
  height: 5vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
